*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/screenshot/device-2019-08-17-144731.png
/screenshot/device-2019-08-17-145420.png
/screenshot/device-2019-09-09-103513.png
/screenshot/device-2019-08-17-155315.png
/screenshot/device-2019-08-17-144843.png
